# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/dqbug/local_settings.py
/dqbug/public/static
/dqbug/public/media

# Database
*.db
