{% extends "zinnia/entry_list.html" %}
{% load i18n zinnia_tags %}

{% block meta-description %}{% trans "DQBug is a Web Development Tech Blog sharing some technical knowledge in Web Programming such as (HTML5, Javascript), Server Programming (Django, Linux), and Other Configuration to may improve your overall productivity as a Modern Web Programmer." %}{% endblock %}

{% block title %}{% trans "Tech Blog" %}{% endblock %}

{% block body-class %}{{ block.super }} archive home{% endblock %}

{% block slider %}
{% get_featured_entries template="zinnia/tags/slider_entries.html" %}
{% endblock %}
