{% load zinnia_tags i18n %}
{% load url from future %}
{% get_tags as entry_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>DQBug - {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <meta name="description" content="{% block meta-description %}DQBug remove old bugs by writing a new clean code{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}dequeue, bug, dqbug, debug, error, programming, blog, refactoring, code {{ entry_tags|join:", "}}{% endblock %}" />
    <meta name="author" content="Eugene" />
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}blog/img/favicon.ico" />
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}highlighter/css/shCoreMidnight.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}blog/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}blog/css/print.css" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}blog/css/ie.css" />
    <![endif]-->
    <style type="text/css">
      .syntaxhighlighter { overflow-y: hidden !important; }
    </style>
    {% block link %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}highlighter/js/shCore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}highlighter/js/shAutoloader.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        function path()
        {
          var args = arguments,
              result = []
              ;
               
          for(var i = 0; i < args.length; i++)
            result.push(args[i].replace('@', 'http://localhost:9001{{ STATIC_URL }}highlighter/js/'));
               
          return result
        };
        SyntaxHighlighter.autoloader.apply(null, path(
          'applescript            @shBrushAppleScript.js',
          'actionscript3 as3      @shBrushAS3.js',
          'bash shell             @shBrushBash.js',
          'coldfusion cf          @shBrushColdFusion.js',
          'cpp c                  @shBrushCpp.js',
          'c# c-sharp csharp      @shBrushCSharp.js',
          'css                    @shBrushCss.js',
          'delphi pascal          @shBrushDelphi.js',
          'diff patch pas         @shBrushDiff.js',
          'erl erlang             @shBrushErlang.js',
          'groovy                 @shBrushGroovy.js',
          'java                   @shBrushJava.js',
          'jfx javafx             @shBrushJavaFX.js',
          'js jscript javascript  @shBrushJScript.js',
          'perl pl                @shBrushPerl.js',
          'php                    @shBrushPhp.js',
          'text plain             @shBrushPlain.js',
          'py python              @shBrushPython.js',
          'ruby rails ror rb      @shBrushRuby.js',
          'sass scss              @shBrushSass.js',
          'scala                  @shBrushScala.js',
          'sql                    @shBrushSql.js',
          'vb vbnet               @shBrushVb.js',
          'xml xhtml xslt html    @shBrushXml.js'
        ));
        SyntaxHighlighter.all();
      });
    </script>
    {% block script %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25348821-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body class="blog {% block body-class %}{% endblock %}">
    <div class="container">
      <div id="header">
        <ul class="top-navigation">
          <li>
            <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap">
              {% trans "Sitemap" %}
            </a>
          </li>
          <li>
            <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
              {% trans "RSS Feed" %}
            </a>
          </li>
          <li>
            <a href="http://eugene-yeo.me" title="{% trans "About us" %}" class="about">
              {% trans "About Us" %}
            </a>
          </li>
        </ul>
        <h1>
          <a href="{% url 'zinnia_entry_archive_index' %}" title="DQBug" rel="home">
            DQBug
          </a>
        </h1>
        <blockquote>
          <p>My Bug Q</p>
        </blockquote>
        {% block breadcrumbs %}{% endblock %}
      </div>
      {% block slider %}{% endblock %}
      <div id="content" class="hfeed">
        {% block content %}
        <div class="links">
          <h3>{% trans "Useful links" %}</h3>
          <ul>
            <li>
              <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Blog index" %}">
                {% trans "Blog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="recents">
          <h3>{% trans "Recent entries" %}</h3>
          {% get_recent_entries %}
        </div>
        <div class="search">
          <h3>{% trans "Search" %}</h3>
          {% include "zinnia/tags/search_form.html" %}
        </div>
        {% endblock %}
      </div>
      <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
      </div>
      <div id="footer">
        <p>Powered by <a href="http://www.djangoproject.com">Django</a>. ©2012 dqbug.com .</p>
      </div>
    </div>
  </body>
</html>
